.top { position:fixed;  top:0px;  z-index:99;  width:100%;  height:50px;  background-color:#00325f; line-height:10px;  }
.top .topDiv1 { position:absolute;  z-index:100;  left:20%;  width:215px;  height:50px;}
.top .topDiv1LogoFront { position:absolute;  z-index:100;  left:0px;  width:63px;  height:50px;}
.top .topDiv1Logo { position:absolute;  z-index:100;  left:64px;  width:151px;  height:50px;}
.top .topDiv2 { position:absolute;  z-index:100;  left:75%;  width:83px;  height:50px; vertical-align:middle;}
.top .topDiv2weibo { position:absolute;  z-index:100;  left:0px; top:25%; width:31px;  height:27px;}
.top .topDiv2weixin { position:absolute;  z-index:100;  left:52px; top:25%; width:32px;  height:27px;}
/*---------page公共样式----------*/
img{ position:absolute; width:100%; height:100%; left:0px; }
div{ position:absolute;}
/*---------page1----------*/
.section1 { background-image:url(../images/page1/bg.png);}
.section1DivPhone {
 width:341px; height:694px; z-index:1; right:26%; top:18%;}
.section1DivPhoneCon {
 width:296px; height:526px; z-index:2; left:6.4%; top:12.1%; overflow:hidden; }

.section1DivTitle {
 width:576px; height:85px; z-index:2; left:18.8%; top:36%; overflow:hidden; }
.section1DivTitle span{
  width:100%;height:100%; color: #ffffff; font-size:72px; }
.section1DivDesc{
 width:510px; height:30px; z-index:1; left:18.8%; top:47.2%;}
.section1DivDesc span{
 width:100%; color:#ffffff; font-size:30px;}
.section1DivAppPhone{
 width:530px; height:75px; z-index:1; left:18.8%; top:56.8%;
}
.section1DivAppPhone .topDivApp1{ left:0%;}
.section1DivAppPhone .topDivApp2{ left:60%;}
.section1DivAppPhone .topDivApp{ width:237px; height:67px; z-index:2; }
.section1DivTwoDimensional {
	width:139px; height:139px; z-index:2; right:17.8%; top:50%
}
/*---------page2----------*/
/*手机壳DIV*/
.section2DivPhone  {
 width:341px; height:694px; z-index:1; left:22.4%; top:18%; }
/*手机内容DIV*/
.section2DivPhoneCon {
 width:296px; height:526px; z-index:2; left:6.4%; top:12%; overflow:hidden; }
.section2DivConTree1{left:0%; }
.section2DivConTree2{left:100%; display:none; }
.section2DivConTree3{left:100%; display:none; }
.section2DivConTree{
 width:296px; height:377px; z-index:4; top:10.4%; 
}

.section2DivConDetail1{
 width:296px; height:42px; z-index:5; left:0%; top:89.3%; display:none; }
.section2DivConDetail2{
 width:296px; height:42px; z-index:5; left:100%; top:31.7%; display:none; }
.inputElement{
 width:200px; height:99px; z-index:6; left:17.5%; top:21.1%; margin:10px; }
.section2DivConInput{
 width:296px; height:526px; z-index:6; left:0%; top:0%; display:none; }
.section2DivMouse{
 width:28px; height:28px; z-index:10; left:22%; top:42%; opacity :0.8}
/*page1外面的样式*/
.section2Div2  {
 width:133px; height:133px; z-index:1; left:50%; top:23%; cursor:pointer; }
.section2Div2Tip{
 width:84px; height:80px;z-index:1; left:52.3%; top:14.5%;}
.section2Div3  {
 width:133px; height:133px; z-index:1; left:60%; top:23%; cursor:pointer; }
.section2Div3Tip{ 
 width:92px; height:80px;z-index:1; left:60%; top:14.5%; display:none;}
.section2Div4Title{
 width:480px; height:70px; z-index:1; left:50%; top:44%;}
.section2Div4Title span{
 width:100%; color: #05355d; font-size:60px; }
.section2Div5Desc{
 width:450px; height:95px; z-index:1; left:50%; top:54%;}
.section2Div5Desc span{
 width:100%; color:#777374; font-size:35px; }
 .section2Div6Circle {
 width:721px; height:314px; left:10%; top:34%;}
/*---------page3----------*/
/*手机壳DIV*/
#Layer1 {
 width:341px; height:694px; z-index:1; left:60%; top:18%;}
/*手机内容DIV*/
#Layer2Con {
 width:296px; height:526px; z-index:2; left:6.4%; top:12%;}
.LayerContent {
 width:296px; height:526px; z-index:4; left:0%; top:0%; opacity:1; display:none;}
/*文字输出DIV*/
#LayerInputDetail {
 width:296px; height:139px; z-index:5; left:0%; top:13.4%;display:none;}
/*文字输出小DIV*/
.element {
 width:296px; height:99%; left:3.6%; top:6%; color:black; line-height:1.5em;}
/*文件夹DIV*/
#LayerKaiGuan {
 width:23px; height:22px; z-index:6; left:88.8%; top:4%; display:none;}
/*短文字碎片DIV*/
#LayerWordPiece {
 width:125px; height:65px; z-index:6; left:0%; top:15.2%; display:none;}
/*长文字碎片DIV*/
#LayerWordPieceLong {
 width:296px; height:77px; z-index:7; left:0px; top:15.2%; opacity:0;}
/*鼠标DIV*/
#LayerMouse {
 width:28px; height:28px; z-index:20; left:83%; top:90%;}
 .section3Div6Circle {
 width:721px; height:314px; left:48%; top:38%;}
.section3Div4Title{
 width:480px; height:70px; z-index:1; left:22.4%; top:44%;}
.section3Div4Title span{
 width:100%; color: #ffffff; font-size:60px; }
.section3Div5Desc{
 width:415px; height:95px; z-index:1; left:22.4%; top:54%;}
.section3Div5Desc span{
 width:100%; color:#ffffff; font-size:35px; }

/*---------page4----------*/
.section4DivPhone  {
 width:341px; height:694px; z-index:1; left:22.4%; top:18%; }
.section4DivPhoneCon {
 width:296px; height:526px; z-index:2; left:6.4%; top:12%; overflow:hidden; }
.section4Div2  {
 width:133px; height:133px; z-index:1; left:50%; top:23%; cursor:pointer; }
.section4Div3  {
 width:133px; height:133px; z-index:1; left:60%; top:23%; cursor:pointer; }
.section4Div4Title{
 width:600px; height:70px; z-index:1; left:50%; top:44%;}
.section4Div4Title span{
 width:100%; color: #05355d; font-size:60px; }
.section4Div5Desc{
 width:560px; height:95px; z-index:1; left:50%; top:54%;}
.section4Div5Desc span{
 width:100%; color:#777374; font-size:35px; }
.section4Div6Circle {
 width:721px; height:314px; left:10%; top:34%;}
 
.section4DivTip {
 width:241px; height:275px; z-index:2; right:76%; top:35%;}
.section4DivTip11 {
 width:0px; height:43px; z-index:2; right:0%; top:0%;}
.section4DivTip12 {
 width:0px; height:89px; z-index:2; right:0%; top:33.8%;}
.section4DivTip13 {
 width:0px; height:43px; z-index:2; right:0%; top:84.4%;}
.section4DivTip2 {
 width:0px; height:0px; z-index:2; right:76%; bottom:53.6%; display:none;} 
